@page
@model ParkNet.App.Pages.Users.Vehicles.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Apagar</h1>
<h3>Reveja a informação a apagar</h3>
<div>
    <h4>Veículo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Matrícula
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.LicensePlate)
        </dd>
        <dt class="col-sm-2">
            Tipo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.Type)
        </dd>
        <dt class="col-sm-2">
            Usuário
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.User.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Vehicle.Id" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-page="./Index">Retroceder</a>
    </form>
</div>
