@page
@model ParkNet.App.Pages.Parks.Parks.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Criar</h1>

<h4>Novo parque</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Park.Name" class="control-label">Nome do parque:</label>
                <input asp-for="Park.Name" class="form-control" />
                <span asp-validation-for="Park.Name" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Plan">Inserir a planta do parque:</label>
                <textarea asp-for="Plan" rows="4" cols="50"></textarea>
            </div>
            <div class="form-group">
                <button type="submit">Submeter</button>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Retroceder</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
