@page
@model ParkNet.App.Pages.Tariffs.TicketTariffs.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Apagar</h1>
<h3>Reveja a informação a apagar</h3>
<div>
    <h4>Tarifário bilhetes</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Preço por cada 15 minutos, na primeira hora
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TicketTariff.Each15minOnFirstHour)
        </dd>
        <dt class="col-sm-2">
            Preço por hora, a partir da segunda hora
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TicketTariff.SecondAndNextHours)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="TicketTariff.Id" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-page="./Index">Retroceder</a>
    </form>
</div>
