@page
@model ParkNet.App.Pages.Tariffs.TicketTariffs.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Tarifário bilhetes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TicketTariff.Id" />
            <div class="form-group">
                <label asp-for="TicketTariff.Each15minOnFirstHour" class="control-label">Preço por cada 15 minutos, na primeira hora</label>
                <input asp-for="TicketTariff.Each15minOnFirstHour" class="form-control" />
                <span asp-validation-for="TicketTariff.Each15minOnFirstHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketTariff.SecondAndNextHours" class="control-label">Preço por hora, a partir da segunda hora</label>
                <input asp-for="TicketTariff.SecondAndNextHours" class="form-control" />
                <span asp-validation-for="TicketTariff.SecondAndNextHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Retroceder</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
