@page
@model ParkNet.App.Pages.Users.Transactions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Transação</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Movimento
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.InsAndOuts)
        </dd>
        <dt class="col-sm-2">
            Usuário
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Transaction.Id">Editar</a> |
    <a asp-page="./Index">Retroceder</a>
</div>
