@page
@model ParkNet.App.Pages.Users.Transactions.ProfitsModel

@{
    ViewData["Title"] = "Profits";
}

<h1>Lucros</h1>

<form method="get">
    <label>Filtrar por períodos:</label>
    <select name="months">
        <option value="1">Último mês</option>
        <option value="3">Últimos 3 meses</option>
        <option value="6">Últimos 6 meses</option>
        <option value="12">Último ano</option>
    </select>
    <button type="submit">Apply</button>
</form>

<p>
    <b>Total: @Model.Profit</b>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Entradas
            </th>
            <th>
                Data
            </th>
            <th>
                Usuário
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Transaction)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InsAndOuts)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Datetime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
            </tr>
        }
    </tbody>
</table>
