@page
@model PrivacyModel
@{
    ViewData["Title"] = "Ajuda";
}
<h1>ParkNet</h1>

<p>
    <body>
        <div>
            <h3>Programa de Estacionamento de Carros</h3>
        </div>
        <hr>
        <div>
            <h6><i>IMPORTANTE - AQUANDO DA CRIAÇÃO DE PARQUES, DÁ UM ERRO (EXCEÇÃO), PORÉM PODE-SE RETROCEDER E CONTINUAR A USAR O PROGRAMA, O PARQUE FICOU CRIADO</i></h6>
        </div>
        <hr>
        <div>
            <h3>Funcionalidades para Usuários</h3>

            <p>Login: Os usuários devem-se autenticar para aceder aos parques e demais funcionalidades do programa.</p>

            <p>Validação de Documentos: É necessário possuir uma carta de condução e um cartão bancário válidos para utilizar o parque.</p>

            <p>Compra de Avenças: Os usuários têm a opção de comprar avenças para garantir estacionamento num lugar à sua escolha, pelo período de 1, 3, 6 ou 12 meses. Não há limite para o número de avenças.</p>

            <p>Estacionamento único: O usuário pode entrar no parque e escolher um lugar disponível, independentemente de já ter uma ou mais avenças adquiridas.</p>

            <p>Recarga de Saldo: Os usuários devem ter saldo positivo para poderem adquirir avenças e efetuarem estacionamentos individuais/ únicos.</p>

            <p>Introdução de Informações do Veículo: Os usuários devem inserir as informações solicitadas sobre os seus veículos - matrícula e se é carro ou mota.</p>
        </div>

        <hr>

        <div>
            <h3>Funcionalidades para administradores</h3>

            <p>Gestão de Parques: Os administradores podem criar e editar informações sobre os parques de estacionamento, tais como:</p>
            <ul>
                <li>nomear os parques</li>
                <li>definir número de pisos e planta de cada um</li>
                <li>criar, editar e atribuir lugares de estacionamento em cada andar, incluindo se se destinam a carros ou motas.</li>
            </ul>
        </div>

        <hr>

        <div>
            <h3>Como utilizar</h3>

            <p>Requisitos de Sistema: Microsoft Visual Studio ou outro compatível com projetos ASP.NET</p>

            <p>Instalação: Abra o projeto ParkNet e corra o programa.</p>

            <p>Login: Após registo, faça login com as suas credenciais de usuário ou administrador.</p>

            <p>Notas Adicionais: Certifique-se de manter as suas informações de login, carta de condução e cartão bancário em segurança.</p>

            <p>Este programa destina-se apenas para fins de demonstração, em âmbito académico.</p>
        </div>
    </body>
</p>

