@page
@model ParkNet.App.Pages.Users.Documents.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Document</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Document.Type" class="control-label">Tipo</label>
                <select asp-for="Document.Type" class="form-control">
                    <option value="">Selecionar</option>
                    <option value="Carta de condução">Carta de condução</option>
                    <option value="Cartão bancário">Cartão bancário</option>
                </select>
                <span asp-validation-for="Document.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document.Number" class="control-label">Número</label>
                <input asp-for="Document.Number" class="form-control" />
                <span asp-validation-for="Document.Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document.ExpiryDate" class="control-label">Data de validade</label>
                <input asp-for="Document.ExpiryDate" class="form-control" />
                <span asp-validation-for="Document.ExpiryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document.UserId" class="control-label">Usuário</label>
                <select asp-for="Document.UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
                <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Retroceder</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
