@page
@model ParkNet.App.Pages.Parks.Floors.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Apagar</h1>
<h3>Reveja a informação a apagar</h3>
<div>
    <h4>Floor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Andar
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Floor.Number)
        </dd>
        <dt class="col-sm-2">
            Parque
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Floor.Park.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Floor.Id" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-page="./Index">Retroceder</a>
    </form>
</div>
