@page
@model ParkNet.App.Pages.Parks.Floors.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Andar</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Piso
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Floor.Number)
        </dd>
        <dt class="col-sm-2">
            Parque
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Floor.Park.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Floor.Id">Editar</a> |
    <a asp-page="./Index">Retroceder</a>
</div>
