@page
@model ParkNet.App.Pages.Tariffs.PermitTariffs.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Apagar</h1>

<h3>Reveja a informação a apagar</h3>
<div>
    <h4>
        Tarifário avenças
    </h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Mensal
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PermitTariff.Monthly)
        </dd>
        <dt class="col-sm-2">
            Trimestral
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PermitTariff.Quarterly)
        </dd>
        <dt class="col-sm-2">
            Semestral
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PermitTariff.Semiannual)
        </dd>
        <dt class="col-sm-2">
            Anual
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PermitTariff.Yearly)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="PermitTariff.Id" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-page="./Index">Retroceder</a>
    </form>
</div>
