@page
@model ParkNet.App.Pages.Parks.Spaces.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Apagar</h1>

<h3>Tem a certeza que quer apagar este lugar?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">Nome</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Space.Name)
        </dd>
        <dt class="col-sm-2">Tipo</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Space.Type)
        </dd>
        <dt class="col-sm-2">Piso</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Space.Floor.Number)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Space.Id" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-page="./Index">Voltar à lista</a>
    </form>
</div>
