@page
@model ParkNet.App.Pages.Parks.Spaces.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Lugar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Space.Id" />
            <div class="form-group">
                <label asp-for="Space.Name" class="control-label">Nome</label>
                <input asp-for="Space.Name" class="form-control" />
                <span asp-validation-for="Space.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Space.Type" class="control-label">Tipo</label>
                <input asp-for="Space.Type" class="form-control" />
                <span asp-validation-for="Space.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Space.FloorId" class="control-label">Andar</label>
                <select asp-for="Space.FloorId" class="form-control" asp-items="ViewBag.FloorId"></select>
                <span asp-validation-for="Space.FloorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Gravar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Retroceder</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
