@page
@model ParkNet.App.Pages.Payments.Tickets.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Estacionamento</h1>

<h4>Tirar bilhete</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Model.DocumentsUpToDate == false)
            {
                <p>
                    <span style="color: red;">
                        Atenção: os seus documentos encontram-se fora de validade, por favor atualize para poder estacionar.
                    </span>
                </p>
            }
            <div class="form-group">
                <label asp-for="Ticket.EntryDateTime" class="control-label">Data de entrada</label>
                <input asp-for="Ticket.EntryDateTime" class="form-control" />
                <span asp-validation-for="Ticket.EntryDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.VehicleId" class="control-label">Veículo</label>
                <select asp-for="Ticket.VehicleId" class="form-control" asp-items="ViewBag.VehicleId"></select>
            </div>
            <br />
            <h6>Disponibilidade:</h6>
            @foreach (Space space in Model.AllSpaces)
            {
                if (!char.IsWhiteSpace(space.Type) && space.IsOccupied == false)
                {
                    <b><span style='color:green'>@space.Name</span></b>
                }
                else if (!char.IsWhiteSpace(space.Type) && space.IsOccupied == true)
                {
                    <b><span style='color:red'>@space.Name</span></b>
                }
                else if (char.IsWhiteSpace(space.Type))
                {
                    <b><span style='color:red'>X</span></b>
                }
            }
            <div class="form-group">
                <label asp-for="Ticket.SpaceId" class="control-label">Lugar</label>
                <select asp-for="Ticket.SpaceId" class="form-control" asp-items="ViewBag.SpaceId"></select>
                <span asp-validation-for="Ticket.SpaceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Entrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Retroceder</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
