@page
@model ParkNet.App.Pages.Payments.Tickets.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bilhete</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Data de entrada
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.EntryDateTime)
        </dd>
        <dt class="col-sm-2">
            Data de saída
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.ExitDateTime)
        </dd>
        <dt class="col-sm-2">
            Veículo
        </dt>
        <dd class="col-sm-10">
            @Model.VehicleLicensePlate
        </dd>
        <dt class="col-sm-2">
            Lugar
        </dt>
        <dd class="col-sm-10">
            @Model.SpaceName
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Retroceder</a>
</div>
